#
# NOTE! Don't add files that are generated in specific
# subdirectories here. Add them in the ".gitignore" file
# in that subdirectory instead.
#
# Normal rules
#

*.rej
*.orig
*.a
*.o
*~
*.swp
*.patch
*.depend

#
# Top-level generic files
#

/System.map
/u-boot*

# tags files
/ctags
/etags

# OneNAND IPL files
/nand_spl
/onenand_ipl

# Other Architecture
/lib_*
!/lib_generic
!/lib_arm


/board/*
!/board/phy3250


/cpu/*
!/cpu/arm926ejs

/include/asm-*
!/include/asm-arm

/*_config.mk
!/arm_config.mk


#Other Documents Files
MAINTAINERS
CHANGELOG*
COPYING
CREDITS
README

/doc
